@model NetMatch_PT.ViewModels.AccommodationDetailVm;
@{
    ViewData["Title"] = "Voorbeeld Accommodatie";
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/AccommodationStyle.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @using Microsoft.AspNetCore.Http
    @using NetMatch_PT.ViewModels
    @inject IHttpContextAccessor HttpContextAccessor
}

<body>
    <div class="container">
        <div class="col-md-12 border-box">
            <div><h1 class="text-center" style="margin-top: 2%; margin-bottom: 2%;">@Model.Title</h1></div>

            <div class="col-md-12">
                <img src="data:image/jpeg;base64, @Model.Image" class="col-md-10 offset-md-1" />
            </div>

            <div class="justify-content-center" style="margin-top: 3%">
                <div class="col-md-10 offset-md-1 border-box-small row">
                    <div class="col-md-6 offset-md-1 ">
                        <h3>Beschrijving:</h3>
                        <p>@Model.Description</p>
                    </div>

                    <div class="col-md-4 offset-md-1">
                        <h3>Datums:</h3>
                        <select id="dateSelector" onchange="GetSelectedValue()">
                            <option value="null" selected disabled>Kies een datum</option>
                            @foreach (var item in Model.DatePrices)
                            {
                                <option value="@item.Date.ToString()">@item.Date.ToShortDateString()</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-top: 3%; margin-bottom: 3%;">
                <div class="row justify-content-around">
                    <button class="btn btn-primary GetAll" id="Optionsbtn" onclick="getOptions()" disabled="disabled" style="font-size: 16pt; color: white; text-decoration: none;">
                        Boekingsopties
                    </button>

                    @if (HttpContextAccessor.HttpContext.Session.GetObjectFromJson<TravelOptions>("TravelOptions") != null)
                    {
                        <button class="btn btn-primary GetAll" id="Receiptbtn" style="font-size: 16pt; color: white; text-decoration: none;">
                            Bekijk bonnetje
                        </button>
                    }

                    <button class="btn btn-success">
                        <a asp-controller="Home" asp-action="ReisBoeken" style="font-size:16pt; color: white; text-decoration: none;">Boeken</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*<div class="container">
        <div class="col-md-12 border-box">
            @if (HttpContextAccessor.HttpContext.Session.GetObjectFromJson<TravelOptions>("TravelOptions") != null)
            {
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8" id="bonnetje" onload="RenderReceipt()">
                    </div>
                    <div class="col-2"></div>
                </div>
            }
        </div>
    </div>*@


</body>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content" id="myModalContent">
            <div class="modal-header">
                <button type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align:left">Reisgezelschap kiezen</h4>
            </div>
            <div class="modal-body" id="myModalBody">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content" id="receiptContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align:left">Reisgezelschap kiezen</h4>
            </div>
            <div class="modal-body" id="receiptBody">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    $('#Optionsbtn').on('click',
        function () {
            var ajaxCallURL = '/Accommodation/TravelOptions';
            var options = { "backdrop": "static", keyboard: false };
                $.ajax({
                    type: "GET",
                    url: ajaxCallURL,
                    data: {
                        id: @Model.Id,
                        bookingsdate: $('#dateSelector').children("option:selected").val()
                    },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#myModalBody').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
        });

    $('#Receiptbtn').on('click',
        function () {
            var ajaxCallURL = '/Accommodation/Receipt';
            var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: ajaxCallURL,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#receiptBody').html(data);
                        $('#receiptModal').modal(options);
                        $('#receiptModal').modal('show');
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
        });

        $('select').on('change',
            function () {
                $('#Optionsbtn').prop("disabled", "");
            });

        function GetSelectedValue() {
            var e = document.getElementById("dateSelector");
            var result = e.options[e.selectedIndex].value;
            return result;
        }

        $(function RenderReceipt() {
                $("#bonnetje").load('/Accommodation/Receipt');
        });
</script>