
@{
    Layout = "~/Views/Shared/_Layout";
    <link rel="stylesheet" href="\css\AccomodationStyle.css" />
    @model NetMatch_PT.ViewModels.AccommodationDetailVm;
}

<div class="accomodation-title">
    @Model.Title
</div>

<div class="accommodation-img-container">
    <div class="accommodation-img">
        <img src="data:image/png;base64,@Model.Image" />
    </div>
    <div class="price-position">@Model.Price</div>
</div>

<div>
    <div class="accommodation-desc">
        @Model.Description
    </div>

    <div id="combobox" style="">
        @*<ul>
                @foreach(var Date in @Model.Dates)
                {
                    <li>@Model.Date</li>
                }
            </ul>*@
    </div>
</div>

<input type="submit" value="Book" class="btn-booking" />