@using NetMatch_PT.Models.Enums
@{
    ViewData["Title"] = "Home Page";
    @model NetMatch_PT.ViewModels.HomepageVm
}

<h1 class="offset-md-5">@ViewData["msg"]</h1>

<div class="col-md-12 quickSearch">
    <form class="form-inline" method="get" asp-action="QuickSearch" asp-controller="Search">
        <div class="form-row">
            <div class="col">
                <select asp-for="@Model.SearchVm.TravelType" class="form-control" placeholder="test">
                    <option value="null" selected disabled>Reistype</option>
                    @foreach (int x in Enum.GetValues(typeof(TravelTypes)))
                    {
                        <option value="@x">@Enum.GetName(typeof(TravelTypes), x)</option>
                    }
                </select>
            </div>
            <div class="col">
                <select asp-for="@Model.SearchVm.Country" class="form-control">
                    <option value="null" selected disabled>Land</option>
                    @foreach (int x in Enum.GetValues(typeof(Countries)))
                    {
                        <option value="@x">@Enum.GetName(typeof(Countries), x)</option>
                    }
                </select>
            </div>
            <div class="col">
                <select asp-for="@Model.SearchVm.Month" class="form-control">
                    <option value="null" selected disabled>Maand</option>
                    @foreach (int x in Enum.GetValues(typeof(Months)))
                    {
                        <option value="@x">@Enum.GetName(typeof(Months), x)</option>
                    }
                </select>
            </div>
            <input class="btn btn-info" type="submit" value="Zoeken" />
        </div>
    </form>
</div>

<div style="background-color: white;" class="col-md-12 border-box">
    <div class="populairheader">
        <p> Populaire vakanties</p>
    </div>
    <div class="row justify-content-around">
        @foreach (var a in Model.Accommodations)
        {
            @await Html.PartialAsync("_PopularAccommodation", a)
        }
    </div>
</div>