
@{
    Layout = null;
    @model BoekingVm
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using NetMatch_PT.ViewModels


<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReisBoeken</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Reisboeken.css" />
    <script src="/path/to/jquery.cookie.js"></script>
    <script src="https://kit.fontawesome.com/590950580f.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>


<body style="height: 100%; overflow: hidden;">
    <div class="container-fluid">
        <div class="row" style="height: 10vh; width: 100vw;position: absolute; top: 0; display: flex; justify-items: center;">
            <div style="height: 100%; width: 100%; position: absolute; left: 45%;">
                <a href="/"><img src="../images/PT_CompName.png" style="height: 100%;" /></a>
            </div>
        </div>
        <form asp-action="ReisBoeken" asp-controller="Home" method="post">
            <input type="hidden" asp-for="@Model.TravelOptions.AccommodationId" value ="@Model.TravelOptions.AccommodationId"/>
            <input type="hidden" asp-for="@Model.TravelOptions.SelectDate" value="@Model.TravelOptions.SelectDate" />
            <div class="row" style="height: 90vh; position: absolute; top: 10vh;">
                <div id="firstOptions" class="selectionDiv col-md-8 offset-md-2">
                    <h3>Vul uw gegevens in voor uw reis naar: @Model.TravelOptions.Accommodation.Title</h3>
                    <div class="form-group">
                        <label asp-for="Vervoer"></label>
                        <select asp-for="Vervoer" class="form-control">
                            <option value="Eigen">Eigen</option>
                            <option value="Amsterdam">Amsterdam</option>
                            <option value="Rotterdam">Rotterdam</option>
                            <option value="Eindhoven">Eindhoven</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tickets"></label>
                        <input asp-for="Tickets" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnnuleringsVerzekering"></label>
                        <input asp-for="AnnuleringsVerzekering" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReisVerzekering"></label>
                        <input asp-for="ReisVerzekering" class="form-control"/>
                    </div>
                    <a href="#focus" class="btn btn-primary">Stap 2</a>
                </div>
            </div>
            <div class="col-md-12" id="secondOptions" style="position: absolute; top: 130%;">
                <div class="row" style="height: 10vh; width: 100vw; position: absolute; top: 0; display: flex; justify-items: center;">
                    <div style="height: 100%; width: 100%; position: absolute; left: 45%;">
                        <a href="/"><img src="../images/PT_CompName.png" style="height: 100%;"/></a>
                    </div>
                </div>
                <div class="row" style="position: absolute; top: 10vh; height: 90vh;">
                    <div class="selectionDiv col-md-8 offset-md-2">
                        <h5>Hoofdreiziger:</h5>
                        <div class="form-group">
                            <label asp-for="Voornaam"></label>
                            <input asp-for="Voornaam" class="form-control"/>
                            <span asp-validation-for="Voornaam"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Achternaam"></label>
                            <input asp-for="Achternaam" class="form-control"/>
                            <span asp-validation-for="Achternaam"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GeboorteDatum"></label>
                            <input asp-for="GeboorteDatum" class="form-control" type="date"/>
                            <span asp-validation-for="GeboorteDatum"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TelefoonNummer"></label>
                            <input asp-for="TelefoonNummer" class="form-control"/>
                            <span asp-validation-for="TelefoonNummer"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control"/>
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Adres"></label>
                            <input asp-for="Adres" class="form-control"/>
                            <span asp-validation-for="Adres"></span>
                        </div>
                        <div class="row" style="display: flex; justify-content: space-around; margin-top: 5%;">
                            @for (int x = 0; x < Model.TravelCompanions.Count; x++)
                            {
                                <div>
                                    <h5>Mede-reiziger @(x + 1):</h5>
                                    <div class="form-group">
                                        <label asp-for="TravelCompanions[x].Voornaam"></label>
                                        <input asp-for="TravelCompanions[x].Voornaam" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TravelCompanions[x].Achternaam"></label>
                                        <input asp-for="TravelCompanions[x].Achternaam" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="TravelCompanions[x].Geboortedatum"></label>
                                        <input asp-for="TravelCompanions[x].Geboortedatum" class="form-control" type="date"/>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="form-group">
                                <label asp-for="AgentKorting"></label>
                                <input asp-for="AgentKorting" class="form-control"/>
                            </div>
                        }
                        <button type="submit" id="focus" class="btn btn-primary">Stap 3</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>


<script>
    function ToTwo() {
        window.location.hash = '#secondOptions';
    }
</script>

