    @*@{
        ViewData["Title"] = "Login";
    @model List<NetMatch_PT.ViewModels.LoginViewModel>
}

    <link rel="stylesheet" href="css/Loginpagina.css" />

    <h1>Login</h1>

    <form asp-action="Login" asp-controller="TravelAgent" method="post">
        <div class="form-group">
            <label asp-for="@model.Username"></label>
            <input asp-for="@model.Username" class="form-control" />
            <span asp-validation-for="model.Username" class="field-validation-error"></span>
        </div>

        <div class="form-row">
            <label asp-for="@model.Password"></label>
            <input asp-for="@model.Password" class="form-control" />
            <span asp-validation-for="model.Password" class="field-validation-error"></span>
        
            <label asp-for="@model.ConfirmPassword"></label>
            <input asp-for="@model.ConfirmPassword" class="form-control" />
            <span asp-validation-for="model.ConfirmPassword" class="field-validation-error"></span>
        </div>

        <input type="submit" class="btn btn-primary" name="Login"/>
    </form>*@
