<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetMatch_PT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/590950580f.js" crossorigin="anonymous"></script>
</head>
<body class="container-fluid">
    <div class="row">
        <header>
            <div class="col-md-12 headerContainer">
                <div class="headerBackground"></div>
                <div class="row headerRow">
                    <div class="col-md-3 headerSearchBar">
                        <form asp-action="FullSearch" asp-controller="Search" method="get" class="form-inline">
                            <input type="text" class="form-control" name="searchTerm" placeholder="Zoeken.." />
                            <button type="submit" class="btn btn-primary" style="margin-left: 5px;"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="row justify-content-center logoRow">
                            <div class="navLogoContainer">
                                <a href="/Home/Index">
                                    <div class="navLogoImg"></div>
                                </a>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <nav class="navbar navbar-expand-sm bg-primary navbar-dark navBarCustom">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a href="/Home/Index" class="nav-link">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("FullSearch", "Search", new {searchTerm = string.Empty})">Accommodaties</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Home/ReisBoeken" class="nav-link">Boeken</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Home/Partnerpagina">Partners</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Home/Overonspagina">Over ons</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Home/Contactpagina">Contact</a>
                                    </li>
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="/User/Login">Login reisagent</a>
                                        </li>
                                    }

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3 align-self-center text-center font-weight-bold">
                        Openingstijden: <br />
                        Maandag t/m vrijdag 09:00 - 17:00 <br />
                        Zaterdag 10:00 - 15:00<br />
                        Zondag gesloten
                    </div>
                    <style>
                        .dom {
                            margin-left: 30px;
                            background: #ffffff;
                            text-align: center;
                            box-sizing: border-box;
                            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                            border: #00BFFF;
                        }
                    </style>
                    <div class="dom">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                @if (User.Identity.Name != "")
                                {
                                    <p>I'm logged in with @User.Identity.Name</p>
                                    @Html.ActionLink("Log out", "Logout", new { })
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>

        </header>
    </div>

    <main role="main" class="pb-3">
        <div class="row">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </main>


    @*<footer class="border-top text-muted">
            <div class="container">
                &copy; 2020 - NetMatch_PT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>